<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: "services" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">
            {{ site.data.sitetext[site.locale].services.title | default: "Services" }}
          </h2>
          {% if site.data.sitetext[site.locale].services.text %}
            <h3 class="section-subheading text-muted">
              {{ site.data.sitetext[site.locale].services.text }}
            </h3>
          {% endif %}
        </div>
      </div>
      <div class="row text-center">
        {% for service in site.data.sitetext[site.locale].services.list %}
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">{{ service.title | markdownify }}</h4>
            {% if service.desc %}
              <div class="text-muted">
                {{ service.desc | markdownify }}
              </div>
            {% endif %}
            {% if service.note %}
              <small class="text-muted">
                {{ service.note | markdownify }}
              </small>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
<!-- End Services -->
